



    <form action="/lyricResults" method="get">
    <label for="artist">Enter artist: </label>
    <input type='search' id="artest" name="artist" placeholder="Enter your artist here">
    <br>
    <label for="title">Enter title: </label>
    <input type='search' id="title" name="title" placeholder="Enter your title here">
    <br>
    <button type="submit">Submit</button>
    </form>

