<%- include ('partials/header') %>


<h1 class="text-center">Find the lyrics to your favorite songs!</h1>
<div class="container well">
    <form action="/lyricResults" method="GET">
        <label for="artist">Enter Artist:</label><br>
        <input type="search" name="artist" id="artist" class="form-control" placeholder="Enter your artist here">
        <br>
        <label for="title">Enter Song Title:</label><br>
        <input type="search" name="title" id="title" class="form-control" placeholder="Enter your song title here">
        <br>
        <button type="submit" class="btn btn-danger">Submit</button>
    </form>
</div>

<%- include('partials/footer') %>





