* {
    margin: 0;
    padding: 0;
}

body {
    background: #278f9c;
}

h1 {
    font-family: 'Henny Penny';
    font-size: 3em;
    text-shadow: 3px 3px black;
}

h2 {
    text-shadow: 3px 3px white;
}

img {
    height: 50vh;
    width: 100%;
    box-shadow: 1px 1px 3px white;
}
button {
    border-radius: 15px;
    width: 200px;
    height: 75px;
}

.thumb_container {
    width: 125px;
    display: inline-block;
}

.thumb {
    width: 100%;
    height: 100px;
   
    box-shadow: none;
}


#instructions {
    border: 10px white ridge;
    margin-top: 15px;
    margin-bottom: 15px;
}
#title{
    max-width: 30%;
    margin-top: 30px;
}
