body{
    background-color: lightskyblue;
}
.container{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;

}
#btn{
    background-color: darkblue;
    font-size: 24px;
    color: white;
    border-radius: 12px;
    border: 2px solid white;
    padding: 20px 30px 20px 30px;
    margin-bottom: 40px;
}
