
<div class="card">
    <h2>Name: <%= data.name   %></h2>
    <p>Description: <%= data.description %></p>
    <img src="<%= data.image_url %> " />
    <div id="fav">
    <input type="checkbox" onclick="addMe()" id='favorite'>
      <label for="favorite">Favorite</label>
    </div>
  </div>