<%- include('partials/header')  %> 
<div class= "home">
    <form action="/searchresults">
        <h1>Find a open resturant near you!</h1>
        <h3>What City are you in?:</h3>
        <input type="text" name = "locale" placeholder="Enter your locaton">
        <button type="submit" class="btn btn-success" id="btn">Submit</button>
    </form>
</div>
<%- include('partials/footer') %>