div{
  border: solid purple 5px
}
p{color: rgb(3, 1, 165)
}

.card{border: 5px solid}
.card--green {
  border-color:green;
  color: green;
}
.card--purple{
  border-color: purple;
  color:purple;
}
.card__title{
 font-style: italic;
}
.card__title--lg{
  font-size: 20px;
}
.card__title--sm{
  font-size: 8px;
}