<%- include('partials/header') %> 
<%- include('partials/navbar') %> 

<div class="jumbotron">
    <h1 class="display-4" style="text-align: center;">About our Company</h1>
    <p class="lead" style="text-align: center;">We got glazed, chocolate iced, raspberry filled, chocolate iced glazed, 
            glazed chocolate cake, powdered cake, and about three dozen other
            flavors to satisfy your sugar cravings!</p>
</div>

      

<%- include('partials/footer') %>