<%- include('partials/header') %> 
<%- include('partials/navbar') %> 
<div class="container">
<h1>About our Company</h1>   
<h5>We got glazed, chocolate iced, raspberry filled, chocolate iced glazed, 
    glazed chocolate cake, powdered cake, and about three dozen other
    flavors to satisfy your sugar cravings!
</h5>
</div>
<%- include('partials/footer') %>