<%- include('partials/header') %> 
<%- include('partials/navbar') %> 
<div class="container">
<form>
    <label for="custfeedback">Got a suggestion on new donut flavor? Shoot us a message.</label></br>
    <textarea id="custfeedback" rows="6" cols="90">
    </textarea><br>
    <button type="button" class="btn btn-secondary">Submit</button>
</form>  
</div>
<%- include('partials/footer') %>