<%- include('partials/header') %> 
<%- include('partials/navbar') %> 
<div class="jumbotron">
    <h1 class="display-4" style="text-align: center;">Welcome to the Donut Shop</h1>
    <p class="lead" style="text-align: center;">We bake the hottest, freshest, donuts that you can imagine.
        You want donuts?  We got it. </p>
</div>

<%- include('partials/footer') %>
