<%- include('partials/header')  %> 
<div class="home">
<h1>Who we are</h1>
<p>We have all been there, tired after a long day, and what you want is a good meal without reading hundreds of yelp reviews. </p>

<p>Just sit back, search and find your city's best resturants.  Your community already did the research. 

<p>We are your friends, neighbors and network, helping you find that perfect meal, now.</p>
</div>
<%- include('partials/footer') %>