<%- include('partials/header')  %> 
<div class="contact">
<form>
<h1>Have an Idea for us?</h1>
<textarea cols="50" rows="10" name='feedback'>
    What is your idea?
        </textarea>
        <button type="submit" class="btn btn-primary" id="btn">Submit</button>
</form>
    </div>
<%- include('partials/footer') %>