<%- include('partials/header')  %> 
<div>
    <form action="/searchresults">
        <h1>Find a food place near you!</h1>
        <h3>Enter your locaton</h3>
        <input type="text" label="Enter your location" placeholder="Enter your locaton">
        <button type="submit" id="btn">Submit</button>
    </form>
</div>
<%- include('partials/footer') %>