<%- include ('partials/headers') %>

<div>
    <h1>Here are your results for Resturants in <%= location %> </h1>
    
   <% results.forEach(el) %> 
    
   <% businesses[0].ratings%>
    <% businesses[0].url %>

</div>
<%- include('partials/footer') %>
