<h1>Contact the following owners for more information</h1>

 <% zoo.forEach(el =>{ %>
<p><%  let {name, ownerfname, owner.lname, owner.phone} =el %> </p>
<%=name %>: <%=owner.fname %> <%= owner.lname %> phone: <%= owner.phone %> 
<% }) %>  