<%- include('partials/header') %> 
<%- include('partials/nav') %>
<div class="center">
    <h1>Create New Data</h1>
    <form action="/createData">
        <button type="submit" class="btn btn-success" >Click for generated data </button>
    </form>
</div>    
<%- include('partials/footer')  %> 