@keyframes backgroundColorPalette{
	50% {
		background: #EE6055;
	}
	100% {
		background: #60D394;
	}

}
body {
    animation-name: backgroundColorPalette;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
