body, html {
    margin:0;
    background-color: #eceff1;
}

.headerNav {
    margin: 0 auto;
    color: white;
    font-family: "Oswald" ,sans-serif;  
    height:70px;

}


.headerNav ul{
    margin:0;
    overflow: 0;
    color: white;
    text-decoration: none;
    padding: 0;

}

.headerNav ul a{
    text-decoration: none;
    color: white;
    border-right: solid white 1px;
    background-color: #01579B;
    display: block;
    height: 70px;
    padding-top: 30px;
    text-align: center;
}


.headerNav ul a:hover {
    background-color: #9ad1e3 ;

    
}.headerNav ul ul a:hover {
    background-color: #ACE39A;
    
}
.headerNav ul li:hover a{
    display:block;
    background-color: white;
    color: black;
    display: block;
    height: 70px;
    width: 227px;
    padding-top: 20px;

}



.headerNav ul  li{
    
    float: left;
    padding: 0px;
    display: block;
    color:white;
    text-align: center;
    width: 227px;
    
}

.headerNav ul ul a {
    background-color: white;
    color: black;
    display: block;
    height: 70px;
    width: 227px;
    padding-top: 20px;
    display: none;
   
   
}

